@import 'normalize'

body
  font-family: 'Roboto Mono', monospace;
.resume-post
  margin 3em 0
  border 1px solid _black
  max-width 520px
  margin 0 0 60px 0
  margin-left auto
  margin-right auto
  &__link
    display block
    text-decoration none
    display flex
  &__image
    // overflow hidden
    text-align center
    &--element
      flex-grow 1
  &__box
    max-width 60%
  &__title
    color _black
    text-align center
    font-size 1.7em
    text-transform uppercase
    margin 0
  &__text
    color gray
    text-align center
  &__button
    position relative
    width 180px
    height 40px
    padding 0
    border 4px solid black
  &__linkin
    text-decoration none
    text-transform uppercase
    span
      position relative
      z-index 1
@media only screen and (min-width: 720px)
  .resume-post
    flex-direction row
